.movie-form {
  color: #424040;
}
.movie-form input, .movie-form button {
  width: calc(100% - 1rem);
  height: 4rem;

  margin: 0.5rem;
  padding: 0.5rem 1rem;

  font-size: 2rem;

  border: 0.2rem solid #cccccc;
  border-radius: 0.5rem;
}

.movie-form input:focus, .movie-form button:focus {
  border: 0.2rem solid #e91c50;
  outline: none;
}

.movie-form button {
  margin-top: 2rem;

  background-color: #e91c50;
  color: #ffffff;

  border: none;
  cursor: pointer;
}

.movie-form button:hover, .movie-form button:focus {
  background-color: #ce1543;
  text-decoration: underline;
}

.movie-form button:active {
  background-color: #bd1c44;
}